@model Customer
@{
    ViewData["Title"] = "Customer Dashboard";
}

<div class="text-center">
    <h1 class="display-4 text-left mb-5">Hi, @Model.CustomerName</h1>
    <div class="table-responsive">
        <table class="table text-left">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
                    <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
                    <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
                    <th> Statements</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var acc in Model.Accounts)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => acc.AccountNumber)</td>
                        <td>@Html.DisplayFor(x => acc.AccountType)</td>
                        <td>@Html.DisplayFor(x => acc.Balance)</td>
                        <td><a class=" btn btn-primary" asp-area="" asp-controller="Home" asp-route-id="@acc.AccountNumber" asp-action="Transaction">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>